.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(circle at center, #0f0f0f, #050505);
}

.login-box {
  width: 320px;
  padding: 40px;
  background: #111;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 40px rgba(0,0,0,0.6);
}

.login-box input {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #1b1b1b;
  color: white;
}

.login-box button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #5865f2;
  color: white;
  cursor: pointer;
}

#error {
  color: #ff4d4d;
  margin-top: 10px;
}
